.about_wrapper {
    margin-bottom: 100px;
}

.hero_about {
    text-align: center;
}

.hero_about img {
    width: 100%;
}

.about_content {
    margin-top: 100px;
}

.about_hr {
    width: 50%;
    margin-left: 30%;
    background-color: #ffb800;
}

.about_head {
    display: flex;
    margin-right: 30%;
}

.about_head img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 40%;
}

.about_h5 {
    margin-top: 5px;
    font-size: 36px;
    color: #4c9542;
}

.about_body {
    width: 50%;
    margin-left: 30%;
}

.about_mission {
    font-weight: bold;
}

.ul_cont {
    display: flex;
    flex-wrap: wrap;
}

.about_ul {
    list-style-type: none;
    margin-left: 5%;
}

.values_img {
    width: 15px;
    margin-right: 10px;
}

@media all and (max-width: 720px) {
    .about_content hr {
        visibility: hidden;
    }

    .about_head img {
        margin-left: 10%;
    }

    .about_body {
        width: 90%;
        margin-left: 5%;
    }

    .about_head h5 {
        font-size: 20px;
        margin-top: 10px;
    }
}