.main_wrapper {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}

.home_h1 {
    text-align: center;
    margin-top: 80px;
    color: #4c9542;
}

.home_hr {
    background-color: rgba(220, 220, 220, 1);
    margin-bottom: 70px;
}

.main_primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes services_anim {
    0% {top: -200px; opacity: 0%;}
    50% {top: -100px; opacity: 50%;}
    100% {top: 0px; opacity: 100%;}
}

.services {
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}

.anim {
    animation-name: services_anim;
    animation-duration: 10s;
    animation-timing-function: ease-in;
}

.home_h4 {
    text-align: center;
    color: #ffb800;
}

.services_icon {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
}

.services_icon img {
    width: 150px;
    margin: 50px 0;
}

.services_context {
    text-align: center;
    font-size: 18px;
    color: #4c9542;
}

.divider {
    border: 1px solid black;
    margin: 0 15px;
}
  
@media all and (max-width: 980px) {
    .main_primary {
      flex-direction: column;
    }
  
    .services {
      width: 100%;
      margin-bottom: 50px;
      border: 1px solid white;
    }
  
    .divider {
      margin-bottom: 50px;
    }
}