.services_h3 {
    color: rgba(76, 149, 66, 1);
    margin-top: 10px;
}

.services_img {
    width: 200px;
}

.services_hr {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    width: 60%;
    margin-left: 20%;
}

.services_talent {
    width: 100%;
    height: 400px;
    background-image: url(../assets/services_talent.png);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.services_talent_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.talent_head {
    margin: 0 9%;
    margin-bottom: 20px;
    color: green;
}


.talent_body {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
}

.talent_button {
    display: block;
    border: none;
    border-radius: 15px;
    background-color: rgba(76, 149, 66, 1);
    margin: 15px 0;
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.5);
}

.talent_button:hover {
    color: rgba(255, 184, 0, 1);
}

.talent_desc {
    border-radius: 10px;

    margin-left: 10%;
    width: 30%;

    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.talent_p {
    color: rgba(255, 184, 0, 0.7);
    padding: 5px;
}



.services_business {
    width: 100%;
    height: 400px;
    background-image: url(../assets/services_business.png);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.services_business_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.business_head {
    margin: 0 7%;
    margin-bottom: 20px;
    color: green;
}

.business_body {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.business_button {
    display: block;
    border: none;
    border-radius: 15px;
    background-color: rgba(76, 149, 66, 1);
    margin: 15px 0;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5);
}

.business_button:hover {
    color: rgba(255, 184, 0, 1);
}

.business_desc {
    border-radius: 10px;

    margin-left: 10%;
    width: 30%;

    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.business_p {
    color: rgba(255, 184, 0, 0.7);
    padding: 5px;
}



.services_technology {
    width: 100%;
    height: 400px;
    background-image: url(../assets/services_technology.png);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.services_technology_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.technology_head {
    margin: 0 5%;
    margin-bottom: 20px;
    color: green;
}

.technology_body {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.technology_button {
    display: block;
    border: none;
    border-radius: 15px;
    background-color: rgba(76, 149, 66, 1);
    margin: 15px 0;
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.5);
}

.technology_button:hover {
    color: rgba(255, 184, 0, 1);
}

.technology_desc {
    border-radius: 10px;

    margin-left: 10%;
    width: 30%;

    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.technology_p {
    color: rgba(255, 184, 0, 0.7);
    padding: 5px;
}

@media all and (max-width: 1080px) {
    .services_talent {
        height: 650px;
    }

    .services_business {
        height: 650px;
    }

    .services_technology {
        height: 620px;
    }

    .services_talent_cover {
        justify-content: center;
    }

    .services_business_cover {
        justify-content: center;
    }

    .services_technology_cover {
        justify-content: center;
    }
    
    .talent_desc {
        margin-left: 0;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
    }

    .business_desc {
        margin-left: 0;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
    }

    .technology_desc {
        margin-left: 0;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 2;
    }

    .talent_body {
        margin-left: 0px;
    }

    .business_body {
        margin-left: 0px;
    }

    .technology_body {
        margin-left: 0px;
    }

    .services_h1:first-child {
        font-size: 52px;
    }
}

